@import "../../libs/_vendor";
@import "../../libs/_vars";
@import "../../libs/_mixinis";
@import "../../libs/_functions";
$size-header-width: 35%;
$size-header-pad: 4em;

.footer {
    color:red;

  > * {
    @include vendor("flex-shrink", "0");
    width: 100%;
  }

  > .inner {
    @include vendor("flex-grow", "1");
    margin: 0 0 ($size-header-pad * 0.5) 0;
    z-index: 2;
  }
  .icons {
    margin: (_size(element-margin) * 0.5) 0 0 0;

    a {
      color: _palette(accent2, fg-light);
    }
  }
}
