@import "../../libs/_vendor";
@import "../../libs/_vars";
@import "../../libs/_mixinis";
@import "../../libs/_functions";
@import "../../libs/_breakpoints";

@include breakpoints(
  (
    xlarge: (
      1281px,
      1800px,
    ),
    large: (
      981px,
      1280px,
    ),
    medium: (
      737px,
      980px,
    ),
    small: (
      481px,
      736px,
    ),
    xsmall: (
      null,
      480px,
    ),
  )
);

$size-header-width: 35%;
$size-header-pad: 4em;

.footer {
  @include vendor("display", "flex");
  @include vendor("flex-direction", "column");
  @include vendor("align-items", "flex-end");
  @include vendor("justify-content", "space-between");
  color: _palette(accent2, fg);
  left: 0;
  bottom: 0;
  position: fixed;
  text-align: center;
  width: $size-header-width;
  padding: 0;

  > * {
    @include vendor("flex-shrink", "0");
    width: 100%;
  }

  > .inner {
    @include vendor("flex-grow", "1");
    margin: 0 0 ($size-header-pad * 0.5) 0;
    z-index: 2;
  }

  .icons {
    margin: (_size(element-margin) * 0.5) 0 0 0;

    a {
      color: _palette(accent2, fg-light);
    }
  }

  .copyright {
    color: _palette(accent2, fg-light);
    font-size: 0.8em;
    list-style: none;
    margin: (_size(element-margin) * 0.5) 0 0 0;
    padding: 0;

    li {
      border-left: solid 1px _palette(accent2, border);
      display: inline-block;
      line-height: 1em;
      margin-left: 0.75em;
      padding-left: 0.75em;

      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }

      a {
        color: inherit;
      }
    }
  }
  .icon {
    border-bottom: none;
    position: relative;

    > .label {
      display: none;
    }

    &:before {
      line-height: inherit;
    }

    &.solid {
      &:before {
        font-weight: 900;
      }
    }
  }

  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 0 1em 0 0;

      &:last-child {
        padding-right: 0;
      }

      .icon {
        &:before {
          font-size: 1.5em;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}

/* Large */

@include breakpoint("<=large") {
  $size-header-width: 30%;
  $size-header-pad: 3em;

  .footer {
    .copyright {
      li {
        border-left-width: 0;
        display: block;
        line-height: 2.25em;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

/* Medium */

@include breakpoint("<=medium") {
  $size-header-pad: 4em;
  .footer {
    background-attachment: scroll;
    background-color: _palette(accent2, bg);
    background-image: url("../../images/header/headerBackgroundImage2.jpg");
    background-position: bottom left;
    background-repeat: repeat, no-repeat;
    background-size: cover;
    bottom: auto;
    left: auto;
    padding: $size-header-pad $size-header-pad ($size-header-pad * 1.5)
      $size-header-pad;
    position: relative;
    text-align: center;
    width: 100%;

    .icons {
      margin: 0 0 (_size(element-margin) * 0.5) 0;
    }

    .copyright {
      margin: 0 0 (_size(element-margin) * 0.5) 0;

      li {
        border-left-width: 1px;
        display: inline-block;
        line-height: 1em;
        margin-left: 0.75em;
        padding-left: 0.75em;
      }
    }
  }
}

/* Small */

@include breakpoint("<=small") {
  $size-header-pad: 1.5em;
  /* Footer */

  .footer {
    padding: ($size-header-pad * 1.5) $size-header-pad;
  }
}

@include breakpoint("<=xsmall") {
  $size-header-pad: 1.5em;
  /* Footer */

  #footer {
    .copyright {
      li {
        border-left-width: 0;
        display: block;
        line-height: 2.25em;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}
